.section--gray {
  background-color: var(--third-background-color);
}

.team {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.team-card {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.team-card__box {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-grow: 1;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team-card__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-card__text {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}
