.button {
  display: block;
  min-width: 200px;
  min-height: 50px;
  border: 0px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);

  &:active {
    background-color: #188ce8;
  }
}

// Миксы для кнопок

.hero__button {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

.footer-form__button {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px 29px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}

.modal-form__button {
  align-self: center;
  padding: 10px 55px;
}
